@model ProductModel[]

@{
    ViewData["Title"] = "Удаление продуктов";
}


<form method="post">
    Id: <input type="text" name="id" required />
    <input type="submit" name="submit" value="Удалить" />
</form>