@namespace Views.Product

@model IReadOnlyCollection<ProductModel>

@{
    ViewData["Title"] = "Добавление продуктов";
}


<form method="post">
    Id: <input type="text" name="id" required />
    <br/>
    Имя: <input type="text" name="name" />
    <br/>
    Описание: <input type="text" name="description" />
    <br/>
    Тип: <input type="text" name="type" />
    <br/>
    <input type="submit" name="submit" value="Создать" />
</form>
